.header{
	width:940px;
	margin:0 auto;
	height:105px;
	padding:36px 10px 0;
	}
.title p{
	font-size:36px;
	font:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace
	}
.header ul{
		font:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif
		}
.header ul{
	margin:0;
	list-style:none;
	padding:13px 0 0;
	float:right;
}
.header ul li{
	float:left;
	margin:0 0 0 63px;
}

.header ul li a{
	font-size:16px;
	text-decoration:none;
	color:#5e5e5e;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	outline:none;
}